<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>采集列表</title>

  <link rel="stylesheet" href="/layui/css/layui.css">

  <style>
    body{padding: 20px; /*overflow-y: scroll;*/}
  </style>
</head>
<body>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    <button class="layui-btn layui-btn-sm" lay-event="reload">重载</button>
  </div>
</script>

<div class="demoTable">
  <form class="layui-form layui-form-pane1">
  <div class="layui-inline">
    <select name="searchState" id="searchState" lay-filter="interest">
      <option value="">状态</option>
      <option value="-1">未发布</option>
      <option value="2">已发布</option>
    </select>
  </div>
  <div class="layui-inline">
    <input class="layui-input" name="searchAuthor" id="searchAuthor" placeholder="原作者" autocomplete="off">
  </div>
  <div class="layui-inline">
    <input class="layui-input" name="searchSpAuthor" id="searchSpAuthor" placeholder="发布作者" autocomplete="off">
  </div>
  <div class="layui-inline" style="display: none;">
    <input class="layui-input" name="searchDate" id="searchDate" autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload">搜索</button>
</form>
</div>

<script type="text/html" id="barState">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="usernameTpl">
  <a href="" class="layui-table-link">{{d.username || ''}}</a>
</script>

<script type="text/html" id="subjectTpl">
  <a href="{{d.url}}" target="_blank" class="layui-table-link">{{d.subject || ''}}</a>
</script>

<script type="text/html" id="stateTpl">
  {{#  if(d.state == 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-warm">待发布</a>
  {{#  } }}
  {{#  if(d.state == 2){ }}
    <a class="layui-btn layui-btn-xs">已发布</a>
  {{#  } }}
  {{#  if(d.state == 99){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger">未发布</a>
  {{#  } }}
</script>

<table id="collection" lay-filter="collection"></table>

<script src="/layui/layui.all.js" charset="utf-8"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  //return;
  
  table.render({
    elem: '#collection'
    ,id: 'tableSearch'
    ,url: '/collections/data/'
    ,page: {
      limit: 15
      ,prev: '上一页'
      ,next: '下一页'
      ,layout: ['prev', 'page', 'next', 'skip']
    }
    //,height: 300
    ,cellMinWidth: 80
    ,skin: 'line'
    ,toolbar: false
    ,cols: [[
      //{type:'numbers', title:'序号'}
      {field:'id', title:'ID', width:80, unresize: true}
      ,{field:'author', width:120, title:'原作者'}
      ,{field:'subject', title:'标题', templet: '#subjectTpl'}
      ,{field:'post_time', width:120, title:'发帖时间', align:'center'}
      ,{field:'spide_time', width:120, title:'采集时间', align:'center'}
      ,{field:'new_post_time', width:120, title:'发布时间', align:'center'}
      ,{field:'new_author', width:120, title:'发布作者'}
      ,{field:'state', width:100,title:'状态', align:'center', templet: '#stateTpl'}
    ]]
  });
  
  var $ = layui.jquery, active = {
    reload: function(){
      var searchState = $('#searchState')
      ,searchAuthor = $('#searchAuthor')
      ,searchSpAuthor = $('#searchSpAuthor')
      ,searchDate = $('#searchDate');
      //执行重载
      table.reload('tableSearch', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          state: searchState.val(),
          author: searchAuthor.val(),
          sp_author: searchSpAuthor.val(),
          time: searchDate.val()
        }
      }, 'data');
    }
  };

  $('i').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

  $('.layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
    return false;
  });
});
</script>
</body>
</html>
