<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>采集列表</title>

  <link rel="stylesheet" href="/layui/css/layui.css">

  <style>
    body{padding: 20px; /*overflow-y: scroll;*/}
  </style>
</head>
<body>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
    <button class="layui-btn layui-btn-sm" lay-event="reload">重载</button>
  </div>
</script>

<table id="test" lay-filter="test"></table>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="usernameTpl">
  <a href="" class="layui-table-link">{{d.username || ''}}</a>
</script>

<script type="text/html" id="switchTpl">
  <input type="checkbox" name="yyy" lay-skin="switch" lay-text="女|男">
</script>

<script type="text/html" id="cityTpl">
  <select lay-ignore>
    <option value="浙江杭州">浙江杭州</option>
    <option value="江西南昌">江西南昌</option>
    <option value="湖北武汉">湖北武汉</option>
  </select>
</script>

<script type="text/html" id="checkboxTpl">
  <input type="checkbox" name="" title="锁定" checked>
</script>

<script type="text/html" id="LAY_table_tpl_email">
  <span {{# if(!d.activate){ }}style="color:#999"{{# } }}>{{ d.email }}</span>
</script>

<table id="collection" lay-filter="collection"></table>

<script src="/layui/layui.all.js" charset="utf-8"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  //return;
  
  //工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'add':
        layer.msg('添加');
      break;
      case 'update':
        layer.msg('编辑');
      break;
      case 'delete':
        layer.msg('删除');
      break;
      case 'getCheckData':
        var data = checkStatus.data;
        layer.alert(JSON.stringify(data));
      break;
      case 'getCheckLength':
        var data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      break;
      case 'isAll':
        layer.msg(checkStatus.isAll ? '全选': '未全选')
      break;
      case 'LAYTABLE_TIPS':
        layer.alert('Table for layui-v'+ layui.v);
      break;
      case 'reload':
        table.reload('test', {
          page: {curr: 5}
          //,height: 300
          //,url: 'x'
        }, 'data');
      break;
    };
  });

  table.on('row(test)', function(obj){
    console.log(obj);
    //layer.closeAll('tips');
  });
  
  
  
  table.render({
    elem: '#collection'
    ,url: '/collections/data/'
    ,page: {
      limit: 15
      ,prev: '上一页'
      ,next: '下一页'
      ,layout: ['prev', 'page', 'next', 'skip']
    }
    //,height: 300
    ,cellMinWidth: 80
    ,skin: 'line'
    ,toolbar: false
    ,cols: [[
      //{type:'numbers', title:'序号'}
      {field:'id', title:'ID', width:80, unresize: true, sort: true}
      ,{field:'author', title:'原作者'}
      ,{field:'subject', title:'标题'}
      ,{field:'post_time', title:'发帖时间'}
      ,{field:'spide_time', title:'采集时间'}
      ,{field:'new_post_time', title:'发布时间'}
      ,{field:'new_author', title:'发布作者'}
      ,{title:'操作', align:'center', toolbar: '#barDemo'}
    ]]
  });

  //监听表格行点击
  table.on('tr', function(obj){
    console.log(obj)
  });

  //监听表格复选框选择
  table.on('checkbox(test)', function(obj){
    console.log(obj)
  });

  //监听表格单选框选择
  table.on('radio(test)', function(obj){
    console.log(obj)
  });
  
  //监听表格单选框选择
  table.on('rowDouble(test)', function(obj){
    console.log(obj);
  });
  
  //监听单元格编辑
  table.on('edit(test)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
    
    console.log(obj)
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.prompt({
        formType: 2
        ,value: data.email
      }, function(value, index){
        obj.update({
          email: value
        });
        layer.close(index);
      });
    }
  });
  
  //监听排序
  table.on('sort(test)', function(obj){
    console.log(this)
    
    //return;
    layer.msg('服务端排序。order by '+ obj.field + ' ' + obj.type);
    //服务端排序
    table.reload('test', {
      initSort: obj
      //,page: {curr: 1} //重新从第一页开始
      ,where: { //重新请求服务端
        key: obj.field //排序字段
        ,order: obj.type //排序方式
      }
    });
  });
  
  var $ = layui.jquery, active = {
    parseTable: function(){
      table.init('parse-table-demo', {
        limit: 3
      });
    }
    ,add: function(){
      table.addRow('test')
    }
  };
  $('i').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
  $('.layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>
</body>
</html>
