<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>表单模块 - layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="/layui/css/layui.css">

<style>
body{padding: 10px;}
</style>
</head>
<body>

<br><br><br>

<form class="layui-form layui-form-pane1" action="" lay-filter="first">
  <div class="layui-form-item">
    <label class="layui-form-label">采集域名</label>
    <div class="layui-input-block">
      <input type="text" name="sp_domain" value="{$sp_domain}" lay-verify="required" lay-reqText="采集域名不能为空" required placeholder="请输采集域名,如：http://www.hyl999.vip/" autocomplete="off" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">发布域名</label>
    <div class="layui-input-block">
      <input type="text" name="domain" value="{$domain}" lay-verify="required" lay-reqText="发布域名不能为空" required placeholder="请输发布域名,如：http://www.hyl999.vip/" autocomplete="off" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
    </div>
  </div>
</form>



<script src="/layui/layui.all.js"></script>

<script>

layui.use(['form'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,$ = layui.$;

  //自定义验证规则
  form.verify({
    sp_domain: function(value){
      if(value.length < 10){
        return '域名也太短了吧';
      }
    }
    ,domain: function(value){
      if(value.length < 10){
        return '域名也太短了吧';
      }
    }
  });
  
  //监听提交
  form.on('submit(*)', function(data){
    var postdata = data.field;
    var url = "/setting/save";
    $.ajax({
        url:url,
        type:'post',
        data:postdata,
        dataType:"json",
        beforeSend:function () {
          this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
        },
        success:function(data){
          if(data.code == 0){
            layer.msg(data.msg, {
              icon: 6,//成功的表情
              time: 1500 //1秒关闭（如果不配置，默认是3秒）
            }, function(){
              layer.closeAll();
              location.reload();
            });
          }else{
            layer.msg(data.msg,{icon: 5});//失败的表情
            return;
          } 
        },
        complete: function () {
          layer.close(this.layerIndex);
          //layer.closeAll();
        },
    });
    return false;
  });
  
});

</script>

</body>
</html>
