<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>采集设置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <style>
  body{padding: 10px;}
  </style>
</head>
<body>

<br><br><br>

<form class="layui-form layui-form-pane" action="" lay-filter="first">
  <div class="layui-form-item">
    <label class="layui-form-label">采集域名</label>
    <div class="layui-input-block">
      <input type="text" name="sp_domain" value="{$sp_domain}" lay-verify="required" lay-reqText="采集域名不能为空" required placeholder="请输采集域名,如：http://www.hyl999.vip/" autocomplete="off" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">采集页数</label>
    <div class="layui-input-inline">
      <input type="text" name="sp_page" value="{$sp_page}" lay-verify="required" lay-reqText="采集页数不能为空" required placeholder="请输采集页数" autocomplete="off" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item">
      <label class="layui-form-label">开始时间</label>
      <div class="layui-input-inline">
        <input type="text" name="start_time" id="start_time" value="{$start_time}" lay-verify="datetime" placeholder="yyyy-MM-dd HH:ii:ss" autocomplete="off" class="layui-input">
      </div>
  </div>
  <div class="layui-form-item">
      <label class="layui-form-label">结束时间</label>
      <div class="layui-input-inline">
        <input type="text" name="end_time" id="end_time" value="{$end_time}" lay-verify="datetime" placeholder="yyyy-MM-dd HH:ii:ss" autocomplete="off" class="layui-input">
      </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">发布域名</label>
    <div class="layui-input-block">
      <input type="text" name="domain" value="{$domain}" lay-verify="required" lay-reqText="发布域名不能为空" required placeholder="请输发布域名,如：http://www.hyl999.vip/" autocomplete="off" class="layui-input" >
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">注意关键词，多个词之间用空格隔开</label>
    <div class="layui-input-block">
      <textarea name="badworld" lay-verify="required" lay-reqText="注意词不能为空" required placeholder="请输注意词,多个词之间用空格隔开" autocomplete="off" class="layui-textarea">{$badworld}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="*">提交采集</button>
    </div>
  </div>
</form>

<script src="/layui/layui.js"></script>

<script>

layui.use(['form','laydate','layer'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,laydate = layui.laydate
  ,$ = layui.$;

  laydate.render({
    elem: '#start_time'
    ,type: 'datetime'
  });
  laydate.render({
    elem: '#end_time'
    ,type: 'datetime'
  });

  //自定义验证规则
  form.verify({
    sp_domain: function(value){
      if(value.length < 10){
        return '域名也太短了吧';
      }
    }
    ,domain: function(value){
      if(value.length < 10){
        return '域名也太短了吧';
      }
    }
  });
  
  //监听提交
  form.on('submit(*)', function(data){
    var postdata = data.field;
    var url = "/setting/save";
    $.ajax({
        url:url,
        type:'post',
        data:postdata,
        dataType:"json",
        beforeSend:function () {
          this.layerIndex = layer.load(2, { shade: [0.5, '#393D49'] });
        },
        success:function(data){
          if(data.code == 0){
            layer.msg(data.msg, {
              icon: 6,//成功的表情
              time: 1000 //1秒关闭（如果不配置，默认是3秒）
            }, function(){
              layer.closeAll();
              location.href="/collections/";
            });
          }else{
            layer.msg(data.msg,{icon: 5});//失败的表情
            return;
          } 
        },
        complete: function () {
          layer.close(this.layerIndex);
          //layer.closeAll();
        },
    });
    return false;
  });
  
});

</script>

</body>
</html>
